        /* Colores y estilos */
        #caja1 { background-color: #007bff; } 
        #caja11 { background-color: #007bff; } /* Azul */
        #caja2 { background-color: #17a2b8; 
        height: 100px;} /* Turquesa */
        #caja3 { background-color: #28a745; height: 1080px; } /* Verde */
        #caja33 { background-color: #2878a7; }
        #caja4 { background-color: #c2bf1f; }
        .container-fluid { padding: 0; }
        .row { margin: 0; }
        .columna {
            min-height: 100px;
            padding: 10px;
        }
        .item {
            height: 20px;
            margin: 5px 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
        .instagram-post {
            width: 470px;
            border: 1px solid #dbdbdb;
            background-color: white;
            border-radius: 8px;
        }
        .cabeceraPost {
            display: flex;
            align-items: center;
            padding: 14px;
        }
        .fotoPerfil {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 12px;
            object-fit: cover;
        }
        .usuario {
            font-weight: 600;
            font-size: 14px;
            margin: 0;
        }
        .masOpciones {
            margin-left: auto;
            font-weight: bold;
            cursor: pointer;
        }
        .imagenPost{
            width: 100%;
            height: auto;
        }
        .Interacciones{
            padding: 10px 15px;
        }
        .iconoAccion {
            font-size: 24px;
            margin-right: 15px;
            cursor: pointer;
        }
        .likes {
            font-weight: 600;
            font-size: 14px;
            padding: 0 15px 5px;
        }
        .post{
            padding: 0 15px 10px;
            font-size: 14px;
        }
        .barraUsuario{
            font-weight: 600;
        }
        .post-time {
            color: #8e8e8e;
            font-size: 10px;
            text-transform: uppercase;
            padding: 0 15px 15px;
            letter-spacing: 0.2px;
        }